body {
  color: #333;
  font-family: Georgia, Verdana, Arial, sans-serif;
  }

a {
  text-decoration: none;
  }

#wrapper {
  width: 100%;
  }

#header {
  height: 120px;
  background: #fff;
  position: relative;
  }

#pageTitle {
  position: absolute;
  left: 5px;
  top: 5px;
  font-size: 18px;
  font-weight: bold;
  font-family: mono;
  color: #d0884c;
  }

#headerBtns {
  position: absolute;
  bottom: 0px;
  right: 5px;
  }

.headerBtn {
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
  text-align: center;
  width: 70px;
  margin-left: 5px;
  margin-right: 5px;
  background-color: #b7cfd6;
  }

.headerBtn a {
  font-size: 11px;
  color: #a5905a;
  }

.headerBtn a:hover {

  }

#footer {
  width: 100%;
  background-color: #7f7f7f;
  text-align: center;
  font-family: mono;
  font-size: 10px;
  }

.center {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  }
