{% extends 'base.html' %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="/static/css/postList.css" />
{% endblock %}

{% block body %}
  <div id="postList" class="center">
    {% for p in posts %}
    <div class="post">
      <div class="postTitle">
        <a href="/blog/{{p.slug}}/">{{ p.title }}</a>
      </div>
      <div class="postMeta">
        <div class="postedBy">
          by : {{ p.author }}
        </div>
        <div class="postedDate">
          on {{ p.timestamp }}
        </div>
      </div>
      <div class="postSummary">
        {{ p.html }}
      </div>
      <div class="readMore">
        <a href="/blog/{{p.slug}}/">Read More</a>
      </div>
    </div>
    {% endfor %}
    {% if hasPrev %}
    <div class="prevPosts pageNav">
      <a href="/blog/{{hasPrev}}/">Previous Posts</a>
    </div>
    {% endif %}
    {% if hasNext %}
    <div class="nextPosts pageNav">
      <a href="/blog/{{hasNext}}/">Newer Posts</a>
    </div>
    {% endif %}
  </div>

{% endblock %}
